

body{
    background-color:#f1edf5;
}

#card_index{
    margin-bottom: 10px;
}
#card_region{
    margin-bottom: 10px;
}

header{
    margin-bottom: 20px;
}
#login{
    margin-top:100px
}
#form_add{
    margin-top:100px
}
#register{
    margin-top:100px
}



@media (max-width: 768px) {
   
  }